footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 10px;
}

:root[data-theme="alt"] footer {
  padding: 20px 0 0 0;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );

  p:last-of-type {
    margin-top: 0;
  }

  .blinkies {
    img {
      margin: 0 5px;
    }
  }
}
