footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 10px;
}

:root[data-theme="alt"] footer {
  p:last-of-type {
    margin-top: 0;
  }

  .blinkies {
    img {
      margin: 0 5px;
    }
  }
}
