footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 10px;
}

:root[data-theme="alt"] footer {
  padding: 20px 0 0 0;
  background-color: deepskyblue;
  background-image: url(../assets/alt/rainbow.jpg);
  background-position: center center;
  position: relative;

  p:last-of-type {
    margin-top: 0;
  }

  .blinkies {
    img {
      margin: 0 5px;
    }
  }
}

:root[data-theme="alt"] .back-to-top {
  @include altButtonStyle;
  padding: 5px 10px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
