/* GLOBAL STYLES */
html {
  font-size: 62.5%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root[data-theme="alt"] ul,
:root[data-theme="alt"] li {
  list-style: disc outside none;
  margin: initial;
  padding: initial;
}

body {
  background-color: $white;
  font-family: $bodyFont;
  font-size: 2rem;
  color: $primaryTextColor;
  overflow-x: hidden;
}

:root[data-theme="alt"] body {
  font-family: $bodyFont-alt;
  overflow: auto;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 600px) {
    width: 92%;
  }
}

:root[data-theme="alt"] .wrapper {
  max-width: none;
  width: auto;
  margin: 0;

  @media (max-width: 600px) {
    width: auto;
  }
}

h1,
h3,
h4 {
  text-transform: lowercase;
  font-family: $headerFont;
}

:root[data-theme="alt"] h1 {
  font-family: $bodyFont-alt;
  text-decoration: underline;
  border-bottom: 10px dotted $white;
  text-transform: none;
}

:root[data-theme="alt"] h3 {
  text-transform: lowercase;
  font-family: $bodyFont-alt;
}

// section title
h3 {
  font-size: 3.5rem;
}

// project title
h4 {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  margin: 20px 0;
}

:root[data-theme="alt"] h4 {
  font-family: $altFont;
}

h4::after {
  content: "";
  display: block;
  background-color: $accentColor;
  height: 13px;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: -1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

a {
  color: $primaryColor;
  text-decoration: none;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: $secondaryColor;
  }
}

:root[data-theme="alt"] a {
  color: $pink;
  border-bottom: 1px dashed $pink;
  cursor: crosshair;
  transition: none;

  &:hover,
  &:focus {
    border-bottom: 0;
    color: $gold;
    border-top: 1px dashed $gold;
    font-weight: bold;
  }
}

.sr-only-show-focus:focus,
.sr-only-show-focus:active {
  clip: auto !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  padding: 10px;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
  z-index: 99;
  background-color: $pink;
  color: $white;
  font-size: 1.8rem;
  font-family: $bodyFont;
  text-transform: none;
  font-weight: normal;
}

:root[data-theme="alt"] .default-content {
  display: none;
}

.alt-content {
  display: none;
}

:root[data-theme="alt"] .alt-content {
  display: inline-block;
}
