/* GLOBAL STYLES */
html {
  font-size: 62.5%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: $bodyFont;
  font-size: 2rem;
  color: $primaryTextColor;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-transform: lowercase;
}

h1,
h3,
h4 {
  font-family: $headerFont;
}

h2 {
  font-family: $bodyFont;
}

h1 {
  font-size: 12rem;
}

h3 {
  font-size: 3rem;
  color: $primaryTitleColor;
}

h4 {
  color: $primaryTitleColor;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  margin: 20px 0;
}

h4::after {
  content: "";
  display: block;
  background-color: $yellow;
  height: 13px;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: -1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: $pink;
  padding: 10px 20px;
  font-family: $headerFont;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: $secondaryTextColor;
  border: 0;
  transition: 0.3s all;

  &:hover,
  &:focus {
    background-color: $turquoise;
  }
}

a {
  color: $pink;
  text-decoration: none;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: $turquoise;
  }
}
