.skills {
  // background-color: $pink;
  text-align: center;
  // padding-bottom: 50px;
  // opacity: 0.7;
}

.skills__title {
  font-size: 16rem;
  color: $lightGrey;
  margin: 0;
  // opacity: 0.5;
  z-index: -1;
}

.skills__icons {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  position: relative;
  top: -60px;
}

.skills__icons::after {
  content: "";
  display: block;
  background-color: $pink;
  opacity: 0.7;
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.skills__icons {
  li {
    width: 120px;
    margin: 0 20px 40px;
  }

  i {
    font-size: 6rem;
  }

  p {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
