.skills {
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
  color: $secondaryTextColor;
}

:root[data-theme="alt"] .skills {
  background-image: url(../assets/alt/bubble-pattern.gif);
  cursor: help;
}

:root[data-theme="alt"] .skills__table {
  border: 10px outset $white;
  width: 95%;
  margin: 0 auto;

  tr {
    border: 2px solid $black;
  }

  td {
    border: 2px solid $black;
    box-shadow: inset 0 0 0 1px $white;
    padding: 10px;
    font-size: 2rem;
    color: $mediumBlue;

    i {
      font-size: 6rem;
      color: $white;
    }

    .fa-html5,
    .devicon-jquery-plain,
    .devicon-photoshop-plain {
      color: $pink;
    }

    .fa-js,
    .fa-react {
      color: $turquoise;
    }

    .firebase-icon {
      background-image: url(../assets/icons/firebase.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      width: 100%;
      height: 60px;
      filter: brightness(0) saturate(100%) invert(87%) sepia(18%) saturate(620%)
        hue-rotate(78deg) brightness(92%) contrast(90%);
    }

    p {
      text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $alt-pink,
        0 0 40px $alt-pink, 0 0 50px $alt-pink, 0 0 60px $alt-pink,
        0 0 70px $alt-pink;
      font-family: $altFont-1;
      text-transform: none;
    }
  }
}

:root[data-theme="main"] .skills__title {
  font-size: calc(17rem - 2vw);
  color: $primaryColor;
  text-shadow: -2px -2px 0 $secondaryTextColor, 2px -2px 0 $secondaryTextColor,
    -2px 2px 0 $secondaryTextColor, 2px 2px 0 $secondaryTextColor;
  position: relative;
  top: -8px;

  @media (max-width: 1250px) {
    top: -5px;
  }

  @media (max-width: 1105px) {
    font-size: calc(14rem - 1vw);
    top: -10px;
  }

  @media (max-width: 985px) {
    font-size: calc(10rem + 1.5vw);
    top: -16px;
  }

  @media (max-width: 850px) {
    font-size: calc(8rem + 1vw);
    top: -25px;
    margin-top: 50px;
  }

  @media (max-width: 660px) {
    font-size: calc(6rem + 1vw);
    margin-top: 60px;
    top: -35px;
  }

  @media (max-width: 440px) {
    font-size: calc(4rem + 1.5vw);
    margin-top: 70px;
    top: -42px;
  }

  @media (max-width: 320px) {
    font-size: 3.5rem;
  }
}

:root[data-theme="alt"] .skills__title {
  font-size: calc(17rem - 2vw);
  color: $primaryColor;
  text-shadow: -10px -10px 0 $mediumBlue;
  color: $gold;
}

.skills__icons {
  position: relative;
  top: -50px;
}

:root[data-theme="alt"] .skills__icons {
  display: none;
}

.skills__bg {
  padding-top: 20px;
  position: relative;
}

.skills__bg::after {
  content: "";
  display: block;
  background-color: $primaryColor;
  position: absolute;
  top: -60px;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: -1;
}

.skills__icons {
  @media (max-width: 440px) {
    justify-content: space-evenly;
  }
  li {
    width: 140px;
    margin: 15px 20px;
    align-self: flex-start;

    @media (max-width: 1400px) {
      width: 200px;
      margin: 15px;
    }

    @media (max-width: 850px) {
      width: 120px;
    }

    @media (max-width: 545px) {
      width: 100px;
    }
  }

  p {
    margin: 10px 0 0;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  i {
    font-size: 6rem;
    transition: 0.3s all;

    &:hover,
    &:focus {
      color: $accentColor;
    }

    &:hover + p,
    &:focus + p {
      color: $accentColor;
    }
  }

  .skills__firebase {
    justify-content: center;
  }

  .firebase-icon {
    background-image: url(../assets/icons/firebase.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100%;
    height: 60px;

    &:hover,
    &:focus {
      filter: brightness(0) saturate(100%) invert(89%) sepia(4%) saturate(2482%)
        hue-rotate(354deg) brightness(109%) contrast(98%);
    }

    &:hover + p,
    &:focus + p {
      color: $accentColor;
    }
  }
}
