.skills {
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
  color: $secondaryTextColor;
}

:root[data-theme="alt"] .skills {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 50px;
  background-image: url(../assets/alt/bubble-pattern.gif);
  background-attachment: fixed;
  cursor: sw-resize;
  text-align: right;
}

.skills__title {
  font-size: calc(17rem - 2vw);
  color: $primaryColor;
  text-shadow: -2px -2px 0 $secondaryTextColor, 2px -2px 0 $secondaryTextColor,
    -2px 2px 0 $secondaryTextColor, 2px 2px 0 $secondaryTextColor;
  position: relative;
  top: -8px;

  @media (max-width: 1250px) {
    top: -5px;
  }

  @media (max-width: 1105px) {
    font-size: calc(14rem - 1vw);
    top: -10px;
  }

  @media (max-width: 985px) {
    font-size: calc(10rem + 1.5vw);
    top: -16px;
  }

  @media (max-width: 850px) {
    font-size: calc(8rem + 1vw);
    top: -25px;
    margin-top: 50px;
  }

  @media (max-width: 660px) {
    font-size: calc(6rem + 1vw);
    margin-top: 60px;
    top: -35px;
  }

  @media (max-width: 440px) {
    font-size: calc(4rem + 1.5vw);
    margin-top: 70px;
    top: -42px;
  }

  @media (max-width: 320px) {
    font-size: 3.5rem;
  }
}

:root[data-theme="alt"] .skills__title {
  font-size: 16rem;
  color: $primaryColor;
  text-shadow: -10px -10px 0 $mediumBlue;
  color: $gold;
  margin: 0;
}

:root[data-theme="alt"] .skills__table-container {
  display: block;
  border: 10px outset $white;
  width: 95%;
  margin: 0 auto;
  text-align: center;

  table {
    width: 100%;
  }

  tr {
    border: 2px solid $black;
  }

  td {
    border: 2px solid $black;
    box-shadow: inset 0 0 0 1px $white;
    padding: 10px;
    font-size: 2rem;
    color: $mediumBlue;
    position: relative;

    i {
      font-size: 6rem;
      color: $white;
      cursor: se-resize;
    }

    .fa-html5,
    .fa-sass,
    .devicon-jquery-plain,
    .fa-mobile-alt {
      color: $pink;
    }

    .fa-css3-alt,
    .fa-js,
    .fa-react,
    .devicon-photoshop-plain,
    .fa-universal-access {
      color: $mediumBlue;
    }

    .firebase-icon {
      background-image: url(../assets/icons/firebase.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      width: 100%;
      height: 60px;
      filter: brightness(0) saturate(100%) invert(12%) sepia(60%)
        saturate(6222%) hue-rotate(318deg) brightness(108%) contrast(102%);
      cursor: se-resize;
    }

    p {
      text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $alt-pink,
        0 0 40px $alt-pink, 0 0 50px $alt-pink, 0 0 60px $alt-pink,
        0 0 70px $alt-pink;
      font-family: $altFont;
      text-transform: none;
    }

    .alt-content__cross {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: help;
    }
  }
}

.skills__bg {
  padding-top: 20px;
  position: relative;
}

.skills__bg::after {
  content: "";
  display: block;
  background-color: $primaryColor;
  position: absolute;
  top: -60px;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: -1;
}

.skills__icons {
  position: relative;
  top: -50px;

  @media (max-width: 440px) {
    justify-content: space-evenly;
  }

  li {
    width: 140px;
    margin: 15px 20px;
    align-self: flex-start;

    @media (max-width: 1400px) {
      width: 200px;
      margin: 15px;
    }

    @media (max-width: 850px) {
      width: 120px;
    }

    @media (max-width: 545px) {
      width: 100px;
    }
  }

  p {
    margin: 10px 0 0;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  i {
    font-size: 6rem;
    transition: 0.3s all;

    &:hover,
    &:focus {
      color: $accentColor;
    }

    &:hover + p,
    &:focus + p {
      color: $accentColor;
    }
  }

  .skills__firebase {
    justify-content: center;

    .firebase-icon {
      background-image: url(../assets/icons/firebase.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      width: 100%;
      height: 60px;

      &:hover,
      &:focus {
        filter: brightness(0) saturate(100%) invert(89%) sepia(4%)
          saturate(2482%) hue-rotate(354deg) brightness(109%) contrast(98%);
      }

      &:hover + p,
      &:focus + p {
        color: $accentColor;
      }
    }
  }
}

:root[data-theme="alt"] .skills__icons {
  display: none;
}
