// FONT
$bodyFont: "Muli", sans-serif;
$headerFont: "Montserrat", sans-serif;

// COLOURS
$lightGrey: #777;
$darkGrey: #333;
$black: #000;
$white: #fff;
$pink: #ee3364;
$yellow: #fdf4b4;
$turquoise: #00b7be;

$primaryTextColor: $darkGrey;
$secondaryTextColor: $white;

$primaryTitleColor: $black;
