// FONT
$bodyFont: "Muli", sans-serif;
$headerFont: "Montserrat", sans-serif;

// COLOURS
$darkGrey: #333;
$pink: #e02255;
$yellow: #fdf4b4;
$darkBlue: #0074b8;
$black: #000;
$white: #fff;

$primaryTextColor: $black;
$secondaryTextColor: $white;
// $tertiaryTextColor: $black;

$primaryColor: $pink;
$secondaryColor: $darkBlue;
$accentColor: $yellow;
